.reveal-item {
	opacity: 0;
	/*vogliamo che quando gli elementi si rivelano lo facciano fluidi*/
	transition: all 1.5s ease-out;
	/*effetto zoom quando rivelo gli oggetti*/
	transform: scale(1.15);

	&--is-visible {
		opacity: 1;
		transform: scale(1);
	}
}